body{
   background-color: aqua;
   color: black;
}
hr{
   border-radius: 0%;
   border: 0cm;
}
.img-fluid{
   height: 720px;
   text-align: center;
   image-rendering: optimizeQuality;
   padding: 2;
}
footer{
   text-align: center;
}
.fou{
   text-align: left;
}