body{
   background-image: url(../img/backgorund.png);
    color: black;
}
hr{
   border-radius: 0%;
   border: 0cm;
}
.img-fluid{
   height: 720px;
   text-align: center;
   image-rendering: optimizeQuality;
   padding: 2;
}
footer{
   text-align: center;
}
.fou{
   text-align: center;
}
#card{
   display: flex;
   justify-content: center;
}
#ig{
   color: black;
   background-color: red;

}